button {
    margin-top: 40px;
    height: 70px;
    width: 100px;
    border-radius: 25px;
    font-size: 25px;
    border: 6px solid #2c3e50;
    background: #34495e;
    color: white
}

button:hover {
    cursor: pointer;
    background: #44505c;
    color: lightgray;
    transform: translateY(-3px)
}

button:active {
    transform: translateY(2px)
}

button:focus {
    outline: none
}