.FullBox {
    display: flex;
    justify-content: space-evenly
}

.PlayerScore {
    margin: 20px 0;
}

.PlayerScore h2 {
    margin: 0
}

.ResetScore {
    margin-top: 5px;
    height: 52px;
    width: 120px;
    border-radius: 50px;
    font-size: 16px;
    border: 6px solid #2c3e50;
    background: #34495e;
    color: white;
}