.App {
  text-align: center;
}

#ResetModal {
  max-height: calc(100% - 100px);
  position: fixed;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 490px;
  height: 230px;
  background: rgba(0, 0, 0, 0.9);
  animation: modalFade 0.5s 1 ease-in-out
}

.Winner {
  color: whitesmoke
}

@keyframes modalFade {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}


